{% extends 'pages/includes/base.html' %} {% block title %}
  Home
{% endblock %}
{% block content %}

  <div class="container mt-5 p-5  rounded shadow" style="background-color: #EFEEEA;" >
    <h1 class="text-center text-dark mb-4">Seja Bem-Vindo</h1>
    <p class="description text-secondary fs-5">
      Este é um sistema de feedback para alunos e professores. Aqui você pode visualizar e editar feedbacks de disciplinas.
    </p>
    <hr>
    <p class="description text-secondary fs-5">
      <strong>Objetivo:</strong> O objetivo deste sistema é fornecer uma plataforma para que alunos e professores possam compartilhar feedbacks sobre as disciplinas, promovendo um ambiente de aprendizado mais colaborativo e eficaz.
    </p>
    <p class="description text-secondary fs-5">
      <strong>Funcionalidades:</strong> O sistema permite que os alunos visualizem feedbacks de disciplinas, editem feedbacks existentes e adicionem novos feedbacks.
    </p>
    <p class="description text-secondary fs-5">
      <strong>Como usar:</strong> Para começar, faça login no sistema. Após o login, você poderá acessar as funcionalidades disponíveis. Se você não tiver uma conta, acesse a área de cadastro abaixo para criar a sua.
    </p>
    <p class="description text-secondary fs-5">
      <strong>Cadastro:</strong> Para se cadastrar, clique no link abaixo e preencha o formulário com suas informações.
    </p>
    <div class="text-center mt-4">
      <a class="btn btn-secondary btn-lg" href="{% url 'register' %}">Cadastro</a>
    </div>
  </div>
{% endblock %}
